<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Mouaffak A. Sarhan (https://github.com/msarhan)">
  <title>{{ page.title }}</title>
</head>

<body>
  <div>
    {{ content }}
  </div>
  <footer>
    <ul>
      <li><a href="mailto:msarhan@gmail.com">email</a></li>
      <li><a href="https://github.com/msarhan">github.com/msarhan</a></li>
    </ul>
  </footer>
</body>

</html>
